body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}
h3 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;      
    font-size: 20px;
    color: #111;
}
h4 {
    margin: 10px 0 30px 0;
    font-size: 20px;
    color: #111;
}
.container {
    padding: 80px 120px;
}
#team.container-fluid {
    padding: 20px 20px;
}
#stack.container-fluid {
    padding: 20px 20px;
}
.person {
    margin-bottom: 25px;
    /*width: 80%;*/
    /*height: 80%;*/
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}
.carousel-inner img {
    /*-webkit-filter: grayscale(90%);*/
    /*filter: grayscale(90%); [> make all photos black and white <] */
    width: 100%; /* Set width to 100% */
    margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 20px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}

.wrapper{
    text-align: center;
}

.row a {
    color: #f5f5f5;
}
.row a:hover {
    color: #777;
    text-decoration: none;
}
