{% extends 'base.html' %}

{% block title %}Login{% endblock %}
    <head>
        <meta charset="utf-8" />
        <title>Marquage du texte</title>
        <link rel="stylesheet" type="text/css" href="mystyle.css">
    </head>

{% block content %}
  <h2>BOATS BOATS BOATS</h2>

<!--   {% if response %}
  	<p>{{response}}</p>
  {% endif %}

  <form method="get">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Request</button>
    </form>
 -->
    <body>
        <p>Saisissez votre itinéraire</p>
        <p>
            <label for="depart">Départ</label> <input type="text" name="depart" id="depart" placeholder="long,lat" />
            <label for="destination" >Destination</label> <input type="text" name="destination" id="destination" placeholder="34.65,78.59" />
            <input type="button" id="getPath" value="get Path !" />
        </p>

        <!-- <script src="submit.js"></script> -->

        <script>

//Recupère les élements sur la page 
var depart=document.getElementById("depart");
var destination=document.getElementById("destination");
var button=document.getElementById("getPath");
button.addEventListener("click", function(){
    console.log("Depart:"+depart.value);
    coord1=stringToCoordinate(depart.value);
    console.log("Destination:"+destination.value);
    coord2=stringToCoordinate(destination.value);
    params=coordToGetParams(coord1,coord2)
    //    alert(params);

    var xhr = new XMLHttpRequest(); 
    xhr.responseType="json";
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && (xhr.status == 200 || xhr.status == 0)) {
            console.log(xhr.response);
            alert(xhr.response);
        }
    };
    xhr.open("GET", "http://localhost:8000/boats"+params, true);
    xhr.send(params);
});




function stringToCoordinate(string) {
    var coord=string.split(",");
    return (coord)
}

function coordToGetParams(coord1,coord2) {
    var params="?long1="+coord1[0]
    params+="&lat1="+coord1[1]
    params+="&long2="+coord2[1]
    params+="&lat2="+coord2[1]
    return (params)
}
</script>

    </body>
<!-- </html> -->
{% endblock %}
