{% load static %}

<head>
    <meta charset="utf-8"/>
    <title>Marquage du texte</title>
    <!--<link rel="stylesheet" type="text/css" href="mystyle.css">-->
    <link rel="stylesheet" type="text/css" href="{% static "mystyle.css" %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<body>
<head>
    <meta charset="utf-8"/>
    <title>Marquage du texte</title>
    <!--<link rel="stylesheet" type="text/css" href="mystyle.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<body>
<div class="container-fluid">
    <div class="row">
        <div id="control" class="col-sm-2">
            <p>Saisissez votre itinéraire</p>
            <p>
                <label for="depart">Départ</label> <input type="text" name="depart" id="depart" value="10,20"
                                                          placeholder="long,lat"/>
                <label for="destination">Destination</label> <input type="text" name="destination" id="destination"
                                                                    placeholder="34.65,78.59" value="30,10"/>
                <input type="button" id="getPath" value="get Path !"/>
                <input type="button" id="plotPathButton" value="plot"/>
            </p>
            <p id="path"> Valeur </p>
        </div>
        <div id="map" class="col-sm-10">
            ICI
        </div>
    </div>
</div>
<p id="weight"></p>


<!--<script src="submit.js"></script>-->
<!--<script src="plotEarth.js"></script>-->
<script src="{% static "submit.js" %}"></script>
<script src="{% static "plotEarth.js" %}"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6tbOtfZnnmhsm3sqz_FMrZAg5jtX5F3c&libraries=visualization&callback=initMap"></script>
</body>


