{% load static %}

<head>
    <meta charset="utf-8" />
    <title>Main Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "mystyle.css" %}">

</head>


<div class="box">

    <body>


    <div class="row">
        <div id="control" class="col-sm-2">
            <a href='#' > <img src="{% static "cls.jpg" %}"  class="img-rounded" alt="Cls image" id="clsImg"> </a>
            <div class="box text-center">
                <p><strong><a href="{% url "login:settings" %}">Settings</a></strong>
                    <strong><a href="{% url "login:logout" %}">Logout</a></strong>
                </p>
            </div>
            <div class="box">
                <h2>Get me somewhere</h2>
                <p>
                    <label for="departInput">Start</label> <br/>
                    <input type="text" name="departInput" id="departInput"  value="10,20" placeholder="long,lat" /> <br/>
                    <label for="destinationInput" >End</label> <br/>
                    <input type="text" name="destinationInput" id="destinationInput" placeholder="34.65,78.59"  value="30,10"/>
                    <input type="checkbox" data-toggle="toggle"  data-on="shortest" data-off="safer" id="astarOption">
                    <input type="button" id="getPath" value="get Path !" class="btn btn-primary"/>
                    <button type="button" class="btn btn-danger" id="clearMapButton">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <!--                        <input type="button" id="plotPathButton" value="plot it !" class="btn btn-primary" />-->
                </p>
            </div>
            <div class="box" id="alert">
                <a  data-toggle="collapse" href="#collapseAlert" aria-expanded="true">
                    <h2>Send an Alert</h2>
                </a>
                <div class="collapse" id="collapseAlert" data-collapsed="false">
                    <form id="alertForm" name="alertForm">
                        <p>
                            <input type="text" name="alertPositionInput" id="alertPositionInput"  placeholder="long,lat" /> <br/>
                            <textarea name="commentary" id="commentary" placeholder="Commentary"></textarea>
                            <select name="typeAlerte" id="typeAlerte" class="selectpicker" data-width="50%">
                                <option value="optionPirate">Pirates</option>
                                <option value="optionTsunami">Tsunami</option>
                                <option value="optionIceberg">Iceberg</option>
                                <option value="optionMeteo">Weather</option>
                                <option value="optionSOS">SOS</option>
                            </select> <br/>
                            <input type="button" id="sendAlertButton" value="Send it !" class="btn btn-danger"/>
                        </p>
                    </form>

                </div>
            </div>
            <div class="box text-center" id="filtres">
                <a  data-toggle="collapse" href="#collapseFilter" aria-expanded="true">
                    <h2>Display Filters</h2>
                </a>
                <div class="collapse" id="collapseFilter">
                    <input type="checkbox" data-toggle="toggle" data-style="ios" data-on="on" data-off="off" id="displayFilter">
                    <select multiple class="form-control" id="multipleSelect">
                        <option id="optionPirate">Pirate</option>
                        <option id="optionTsunami">Tsunami</option>
                        <option id="optionIceberg">Iceberg</option>
                        <option id="optionMeteo">Weather</option>
                        <option id="optionSOS">SOS</option>

                    </select>
                </div>
            </div>

            <div class="box text-center" id="heatmap">
                <a  data-toggle="collapse" href="#collapseHeatmap" aria-expanded="true">
                    <h2>Show Density</h2>
                </a>
                <div class="collapse" id="collapseHeatmap">
                    <select name="typeAlerte" id="typeHeatMap" class="selectpicker" data-width="40%">
                        <option value="optionPirate">Pirates</option>
                        <option value="optionTsunami">Tsunami</option>
                        <option value="optionIceberg">Iceberg</option>
                        <option value="optionMeteo">Weather</option>
                        <option value="optionSOS">SOS</option>
                    </select>
                    <input type="checkbox" data-toggle="toggle" data-style="ios" data-on="on" data-off="off" id="displayHeatmap">
                    <br/>
                </div>
            </div>

            <div class="box" id="meteo">
                <h2>Weather Information</h2>
            </div>
        </div>
        <div id="map" class="col-sm-10">
        </div>
    </div>
    <!--        Bootstrap JS and Jquery ( JS need JQuery ) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!--Bootstrap Toggle Button-->
    <script src="{% static "config.js" %}"></script>
        <!--<script src="conf.js"></script>-->
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script src="{% static "submit.js" %}"></script>
        <!--<script src="submit.js"></script>-->
    <script src="{% static "plotEarth.js" %}"></script>
        <!--<script src="plotEarth.js"></script>-->
    <!--Google Map Script-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6tbOtfZnnmhsm3sqz_FMrZAg5jtX5F3c&libraries=visualization&callback=initMap"></script>
    <script src="{% static "weather.js" %}"></script>
        <!--<script src="weather.js"></script>-->
    <script src="{% static "clickOnMap.js" %}"></script>
        <!--<script src="clickOnMap.js"></script>-->
    <script src="{% static "displayFilter.js" %}"></script>
        <!--<script src="displayFilter.js"></script>-->
    <script src="{% static "displayHeatmap.js" %}"></script>

    <script type="text/javascript">
            var userName = "{{user}}";
        </script>


    </body>


