{% load static %}
<html lang="en">
<head>
  <title>Boats</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static "theme.css" %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="90">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'login:home' %}">Boats</a>
    </div>
    <div id="myNavbar" class="collapse navbar-collapse">
      {% if request.path == "/" or request.path == "/home" %}
	  <ul class="nav navbar-nav navbar-left">
	    <li><a href="#team">TEAM</a></li>
	    <li><a href="#stack">STACK</a></li>
	  </ul>
      {% endif %}
      {% if user.is_authenticated %}
	  <p class="navbar-text">Hi {{ user.username }}!</p>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">
	{% if user.is_authenticated %}
	    <li><a href="{% url 'app_boats:boats' %}">MAP</a></li>
	    <li><a href="{% url 'login:settings' %}">SETTINGS</a></li>
	    <li><a href="{% url 'login:logout' %}">LOGOUT</a></li>
	{% else %}
	    <li><a href="{% url 'login:login' %}" class="glyphicon glyphicon-user">LOGIN</a></li>
	    <li><a href="{% url 'login:signup' %}" class="glyphicon glyphicon-log-in"> SIGN UP</a></li>
	{% endif %}
        <!--<li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li> TODO -->
      </ul>
    </div>
  </div>
</nav>
<!--This line is pushing stuff downward-->
<div class="row">
    <div class="col-sm-12">
	<p>Don't read this   <p/>
    <div/>
<div/>
{% block content %}
{% endblock %}

<div class="row">
    <div class="col-sm-12">
	<br/><br/>
    <div/>
<div/>

<!-- Footer -->
<footer class="text-right navbar-fixed-bottom">
    <strong>Contact : </strong><a href="mailto:lelonque@etud.insa-toulouse.fr">lelonque@etud.insa-toulouse.fr</a>
</footer>


    </body>
</html>
