{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
	<div class="col-sm-2">
	    <p>   </p>
	</div>
	<div class="col-sm-8">
	    <div class="jumbotron">
	    <h2>Change Password</h2>
	    <form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<div class="wrapper">
		    <button type="submit" class="btn btn-md btn-warning ">Save changes</button>
		</div>
	    </form>
	    </div>
	</div>
	<div class="col-sm-2">
	    <p>   </p>
	</div>
    </div>
</div> <!-- /container -->
{% endblock %}
