{% extends 'base.html' %}

{% load static %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!--<ol class="carousel-indicators">-->
      <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
      <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
      <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
    <!--</ol>-->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
	  <img src="{% static "img/home/rotterdam.png" %}" alt="Chart paths" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Chart paths</h3>
          <p>Find your way through the globe.</p>
        </div>
      </div>

      <div class="item">
        <img src="{% static "img/home/suez.png" %}" alt="Receive Alerts" width="1201" height="700">
        <div class="carousel-caption">
          <h3>Receive Alerts</h3>
          <p>Might be pirates on the road.</p>
        </div>
      </div>

      <div class="item">
        <img src="{% static "img/home/img2.png" %}" alt="Check the weather" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Check the weather</h3>
          <p>Nobody want to get stuck under the rain.</p>
        </div>
      </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<!-- Container (The Band Section) -->
<div id="team" class="container-fluid bg-1 text-center">
  <h3>THE TEAM</h3>
  <p><em>We love to code!</em></p>
  <p>Your satisfaction comes first whenever you use our product. That's why we selected only the best suited for the task.</p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Laetitia Dufau</strong></p><br>
      <img src="{% static "img/profilepic/laetitia.jpg" %}" class="img-rounded person" alt="Random Name" width="150" height="150">
      <p>Backend developper</p>
      <p>In love with Neo4J and Proxmox</p>
      <p><a href="mailto:ldufau@etud.insa-toulouse.fr">ldufau@etud.insa-toulouse.fr</a></p>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Guillaume Grasa</strong></p><br>
      <img src="{% static "img/profilepic/grasa.jpg" %}" class="img-rounded person" alt="Random Name" width="150" height="150">
      <p>Backend developper</p>
      <p>Friend of Cassandra and Neo4J</p>
      <p><a href="mailto:ggrasa@etud.insa-toulouse.fr">ggrasa@etud.insa-toulouse.fr</a></p>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Thibaut Sarion</strong></p><br>
      <img src="{% static "img/profilepic/thibaut.jpg" %}" class="img-rounded person" alt="Random Name" width="150" height="150">
      <p>Front End Developper</p>
      <p>Master of Javascript</p>
      <p><a href="mailto:sarion@etud.insa-toulouse.fr">sarion@etud.insa-toulouse.fr</a></p>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Bastien Bigué</strong></p><br>
      <img src="{% static "img/profilepic/bastien.jpg" %}" class="img-rounded person" alt="Random Name" width="150" height="150">
      <p>Back End developper</p>
      <p>Plays with Maths and Neo4J</p>
      <p><a href="mailto:bigue-co@etud.insa-toulouse.fr">bigue-co@etud.insa-toulouse.fr</a></p>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Louis Rivière</strong></p><br>
      <img src="{% static "img/profilepic/louis.jpg" %}" class="img-rounded person" alt="Random Name" width="150" height="150">
      <p>Back End developper</p>
      <p>Spark and Cassandra have no secrets for him</p>
      <p><a href="mailto:lriviere@etud.insa-toulouse.fr">lriviere@etud.insa-toulouse.fr</a></p>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Léo Le Lonquer</strong></p><br>
      <img src="{% static "img/profilepic/leo.jpg" %}" class="img-rounded person" alt="Random Name" width="150" height="150">
      <p>Ultimate Front End developper</p>
      <p>PhD in CSS and HTML</p>
      <p><a href="mailto:lelonque@etud.insa-toulouse.fr">lelonque@etud.insa-toulouse.fr</a></p>
    </div>
  </div>
</div>


<div id="stack" class="container-fluid text-center">
    <h3> Our Stack </h3>
    <div class="row">
	<div class= col-sm-4>
	    <h4>Front End</h4>
	    <div class="jumbotron">
		<img src={% static "img/stack/css.png" %} class="img-responsive">
		<h4> HTML5 And CSS </h4>
		<br/>
		<img src={% static "img/stack/bootstrap.png" %} class="img-responsive">
		<h4>Bootstrap </h4>
		<br/>
		<img src={% static "img/stack/javascript.png" %} class="img-responsive">
		<h4>Javascript</h4>
		<br/>
		<img src={% static "img/stack/ajax.png" %} class="img-responsive">
		<h4>Ajax</h4>
	    </div>
	</div>
	<div class= col-sm-4>
	    <h4>Interfaces</h4>
	    <div class="jumbotron">
		<img src={% static "img/stack/python.png" %}
	  class="img-responsive text-center" style="width:80%">
		<h4>Python</h4>
		<br/>
		<img src={% static "img/stack/django.png" %} class="img-responsive">
		<h4>Django</h4>
		<br/>
		<img src={% static "img/stack/flask.png" %} class="img-responsive">
		<h4>Flask</h4>
	    </div>
	</div>
	<div class= col-sm-4>
	    <h4>Back End</h4>
	    <div class="jumbotron">
		<img src={% static "img/stack/neo4J.png" %} class="img-responsive">
		<h4>Neo4J</h4>
		<br/>
		<img src={% static "img/stack/spark.png" %} class="img-responsive">
		<h4>Spark</h4>
		<br/>
		<img src={% static "img/stack/cassandra.png" %} class="img-responsive">
		<h4>Cassandra</h4>
	    </div>
	</div>
    </div>
</div>

{% endblock %}
