{% extends 'base.html' %}

{% block title %}See you!{% endblock %}

{% block content %}
<div class="container text-left">
    <div class="jumbotron">
      <h2>Logged out</h2>
      <p>You have been successfully logged out.</p>
	<a type="submit" class="btn btn-md btn-primary" href="{% url 'login:login'%}">Login Again</a>
    </div>
</div>
{% endblock %}
