{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% load staticfiles %}
<div class="container">
    <div class="jumbotron">
      <form class="form-signin" action="{% url 'login:login' %}" method="post" id="login-form">
	  {% csrf_token %}
        <h2 class="form-signin-heading">{{ message }}</h2>
        <label for="id_username" class="sr-only">Email address</label>
        <input type="text" name="username" id="id_username" class="form-control" placeholder="User Name" required autofocus>
	<br/>
        <label for="id_password" class="sr-only">Password</label>
        <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-success" type="submit">Sign in</button>
      </form>
    </div>
</div> <!-- /container -->
 
<!--<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>-->
{% endblock %}
