{% extends 'base.html' %}

{% block title %}Password succefuly modified{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
	<div class="col-sm-2">
	    <p>   </p>
	</div>
	<div class="col-sm-8">
	    <div class="jumbotron">
    <h2>Password successfuly modified !</h2>
    <strong><a href="{% url 'login:settings' %}">Back</a></strong>
	    </div>
	</div>
	<div class="col-sm-2">
	    <p>   </p>
	</div>
    </div>
</div> <!-- /container -->
{% endblock %}
