{% extends 'base.html' %}

{% block title %}User Settings{% endblock %}

{% block content %}
<div class="container text-left">
    <h2>User Settings</h2>
    <div class="jumbotron">
	<div class="row">
	    <div class="col-sm-6 text-left">
	<p><strong> Username :  </strong> {{user.username}}</p>
	<p><strong> Email :     </strong> {{user.email}}</p>
	<p><strong> First name :</strong> {{user.first_name}}</p>
	    </div>
	    <div class="col-sm-6 text-left">
	<p><strong> Last name : </strong> {{user.last_name}}</p>
	<p><strong> Gender: </strong> {{user.profile.gender}}</p>
	<p><strong> Birth date :</strong> {{user.profile.birth_date}}<p/>
	    </div>
	</div>
	<p><strong> Bio :       </strong> {{user.profile.bio}}</p>
    </div>
    <div class="jumbotron">
	<form method="post">
	{% csrf_token %}
	{% for field in form %}
	<div class="row">
	    <div class="col-sm-4 text-right">
		<p>{{ field.label_tag |safe}} </p>
	    </div>
	    <div class="col-sm-4 text-center">
		<p>{{ field }}</p>
		<p style="color:Tomato text-left">{{ field.errors |escape}}</p>
	    </div>
	    <div class="col-sm-4 text-left">
		<p>{{ field.help_text | safe|escape}}</p>
	    </div>
	</div>
	{% endfor %}
	<div class="wrapper">
	    <button type="submit" class="btn btn-md btn-warning ">Save changes</button>
	</div>
	</form>
	<div class="wrapper">
	<a type="submit" class="btn btn-md btn-primary" href="{% url 'login:change_password'%}">Change password</a>
	</div>
    </div>
</div>
{% endblock %}
