{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron">
	<h2>Sign up</h2>
	<form method="post">
	    {% csrf_token %}
	    {% for field in form %}
	    <div class="row">
		<div class="col-sm-4 text-right">
		    <p>{{ field.label_tag |safe}} </p>
		</div>
		<div class="col-sm-4 text-center">
		    <p>{{ field }}</p>
		    <p style="color:Tomato text-left">{{ field.errors |escape}}</p>
		</div>
		<div class="col-sm-4 text-left">
		    <p>{{ field.help_text | safe|escape}}</p>
		</div>
	    </div>
	    {% endfor %}
	    <button class="btn btn-lg btn-success btn-block" type="submit">Sign Up</button>
	</form>
    </div>
</div>
{% endblock %}
