html,body{
    width: 100%;
    height: 100%;
    background:black;
    color: black;
    font-family: 'Open Sans', sans-serif;
}
#map{
    /*    background: url("earth.jpg");*/
    height: 100%;
}
#control{
    padding-top: 10px;
    background: #00635D;
    height: 100%;
    position:relative;
}
img{
    margin: auto;
    display: block;

}
#clsImg {
    margin-top: 10px;
    width: 60%;
}
.row{
    margin:  0px 10px;
    height: 100%;
}

p{
    text-align: center;
}
h2{
    margin-top: 5px;
    /*    font-size: 20px;*/
    color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 20px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
}
.box{
    margin: 5px 0px;
    padding: 4px 0px;
    width: 100%;
    /*    background : white;*/
    background-color: rgba(255, 255, 255, 0.3);
    /*    background-color: rgba(76, 33, 42, 0.71);*/
    border-radius : 5px ;
}
input{
    width: 80%;
    color:black;
    background: #D9D9D9;

}
input[type=button]{
    margin: 5px;
    width: 60%;
}

textarea{
    width: 80%;
    height: 80px;
    background: #D9D9D9;
}
#id_sujet{
    background black;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }
#showPirate{
    margin: 30px;
}
.checkbox{
    /*    background: red;*/
    text-align: center;
    margin-right: 40px;
}
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
a:hover{
    text-decoration: none;
}
#multipleSelect{
    margin:auto;
    width:70%;
    height:90px;
}
#settings{
    position: absolute;
    bottom: 0;
}
#getPath{
    width: 30%;
}
h4{
    text-align: center;
}